.slogan {
  text-align:center;
  font-size:50px;
  overflow:hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
}

.sloganp {
  display:inline-block;
  overflow:hidden;
  white-space:normal;
}


.sloganp:first-of-type {
  animation: showup 7s infinite;
}

.sloganp:last-of-type {
  width:100%;
  animation: reveal 7s infinite;
}

.sloganp:last-of-type span {
  margin-left:-600px;
  animation: slidein 7s infinite;
}



@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:500px;}
    80% {opacity:1;}
    100% {opacity:0;width:500px;}
}

@media screen and (max-width:812px) { 
    .slogan {
      text-align:center;
      font-size:45px;
      overflow:hidden;
      -webkit-backface-visibility: hidden;
      -webkit-perspective: 1000;
      -webkit-transform: translate3d(0,0,0);
    }
    .sloganp1{
        font-size: 25px;
    }
    @keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:220px;}
    80% {opacity:1;}
    100% {opacity:0;width:220px;}
}
}
